<main class="bg-[#F4F4F4] py-64 overflow-hidden">
  <div class="relative">
	<div class="absolute -bottom-96 left-0 -scale-x-100 w-[800px]">
	  <%= image_tag "foliage.png" %>
	</div>
	<div class="absolute -bottom-96 hidden md:left-[34rem] w-[900px] md:block">
	  <%= image_tag "foliage.png" %>
	</div>
	<div class="absolute -bottom-96 right-0 hidden w-[800px] md:block">
	  <%= image_tag "foliage.png" %>
	</div>
	<div class="container mx-auto relative z-10">
	  <div class="bg-[#3A503333] w-4/5 mx-auto px-24 py-14
				  min-w-[300px] max-w-[700px] border md:w-full
				  border-white rounded-lg backdrop-blur-sm">

		<h2 class="text-seraphique font-bold text-2xl mb-12">Sign in</h2>

		<%= form_with url: session_path(resource_name) do |f| %>
		  <%= render "users/shared/error_messages", resource: resource %>

		  <div class="flex flex-col">
			<div class="flex flex-col gap-y-3">
			  <%= f.label :email, "Email Address", class: "text-[#4A4A4A]" %>
			  <%= f.email_field :email,
				autocomplete: "email",
				class: "border border-seraphique bg-[#F5F5F5] rounded-md" %>
			</div>

			<div class="my-8 flex flex-col">
			  <div class="mb-3 flex flex-row flex-nowrap
						  justify-between text-[#4A4A4A]">
				<%= f.label :password %>
				<%= link_to "Forgot Password?", password_path(resource_name) %>
			  </div>
			  <%= f.password_field :password,
				  autocomplete: "current-password",
				  class: "border border-seraphique bg-[#F5F5F5] rounded-md" %>
			</div>

			<div class="flex flex-row flex-wrap justify-center
						md:flex-nowrap md:items-center">
			  <% if devise_mapping.rememberable? %>
				<div>
				  <%= f.check_box :remember_me,
					class: "size-5 appearance-none bg-[#F5F5F5] rounded-sm
                            peer-hover:bg-none focus:ring-0 checked:ring-0
                            checked:text-seraphique checked:bg-seraphique" %>
				  <%= f.label :remember_me, "Remember Me" %>
				</div>
			  <% end %>

			  <div class="actions mt-4 md:mt-0 md:ms-auto">
				<%= f.submit "Sign In",
				   class: "bg-seraphique text-base text-white
                          rounded-lg text-center px-4 py-2" %>
			  </div>

			</div>
			<div class="mt-16">
			  <p class="text-center text-[#4A4A4A]">
				Don't have an account yet?
				<%= link_to "Create an Account",
							user_registration_path,
							class: "text-seraphique underline" %>
			  </p>
			</div>
		  </div>
		<% end %>
	  </div>
	</div>
  </div>
</main>
