<main class="pt-40 pb-16 bg-[#F4F4F4] w-full h-full">
  <div class="w-2/5 mx-auto border border-slate-300
			  p-12 rounded-md bg-white">

	<h2 class="text-2xl font-semibold">Sign in as Administrator</h2>

	<%= form_with scope: :administrator,
                  method: :post,
                  url: session_path(resource_name) do |f| %>
	  <%= render "administrators/shared/error_messages", resource: resource %>

	  <div class="flex flex-col my-4">
		<%= f.label :email, class: "text-xl" %>
		<%= f.email_field :email,
			 autocomplete: "email",
			 class: "rounded-md" %>
	  </div>
	  <div class="flex flex-col">
		<%= f.label :password, class: "text-xl" %>
		<%= f.password_field :password,
			autocomplete: "current-password",
			class: "rounded-md" %>
	  </div>

	  <div class="mt-4 flex justify-between items-center">
		<% if devise_mapping.rememberable? %>
		  <div>
			<%= f.check_box :remember_me,
				class: "size-5 appearance-none peer-hover:bg-none
                                   focus:ring-0 checked:text-seraphique
                                   checked:ring-0 checked:bg-seraphique" %>
			<%= f.label :remember_me, "Keep me signed in" %>
		  </div>
		<% end %>

		<%= f.submit "Login",
		   class: "bg-seraphique text-white
                         rounded-md py-2 px-4 text-lg" %>
	  </div>
	<% end %>
  </div>
</main>
