<main class="pt-48 pb-16" data-controller="administrator--order">
  <dialog data-administrator--order-target="updateStatusDialog"
          class="backdrop-blur w-full md:w-2/3 bg-white rounded-lg shadow-lg px-6 py-8">
    <div class="w-full flex justify-between items-center">
      <h2 class="font-semibold size-lg">Update Delivery Status</h2>
      <button type="button"
              data-action="click->administrator--order#hideUpdateStatusDialog">
        <%= heroicon "x-mark", size: 20 %>
      </button>
    </div>
    <div class="pt-8">
      <%= turbo_frame_tag "new_delivery_log", target: "delivery_logs" do %>
        <%= form_with model: DeliveryLog.new,
                      url: administrator_delivery_logs_path,
                      data: {
                          "administrator--order-target": "updateStatusForm",
                          action: "turbo:submit-end->administrator--order#clearAndHideForm"
                      } do |f| %>
          <%= f.hidden_field :order_id, value: @order.id %>
          <%= f.label :description %>
          <div class="w-full flex flex-row items-stretch">
            <%= f.text_field :description,
               class: "field-seraphique rounded-e-none grow" %>
            <%= f.submit "Add Delivery Log",
               class: "bg-seraphique py-2 px-4 rounded-e-lg
                       text-white block cursor-pointer" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </dialog>
  <div class="container mx-auto">
    <%= link_to "<- Back to Orders",
                administrator_orders_path,
                class: "text-seraphique hover:brightness-50" %>

    <dl class="mt-8">
      <div class="flex flex-row flex-nowrap justify-between">
        <div>
          <div class="flex flex-row flex-nowrap gap-x-7">
            <dt class="font-semibold">Order ID</dt>
            <dd><%= @order.reference_id %></dd>
          </div>

          <div class="flex flex-row flex-nowrap gap-x-7">
            <dt class="font-semibold">Name</dt>
            <dd><%= @order.user.full_name %></dd>
          </div>

          <div class="flex flex-row flex-nowrap gap-x-7">
            <dt class="font-semibold">Delivery Address</dt>
            <dd><%= @order.address.to_s %></dd>
          </div>
        </div>
        <div>
          <div class="flex flex-row flex-nowrap gap-x-7">
            <dt class="font-semibold">Total Items</dt>
            <dd>
              <%= @order.order_items.inject(0) do |sum, order_item|
                  sum + order_item.quantity
              end %>
            </dd>
          </div>
          <div class="flex flex-row flex-nowrap gap-x-7">
            <dt class="font-semibold">Total Price</dt>
            <dd>
              $<%= number_with_precision(@order.total_price, precision: 2) %>
            </dd>
          </div>
        </div>
      </div>
    </dl>

    <table class="mt-11 w-full">
      <thead class="border-b border-b-[#B0B0B0]/50">
        <tr class="bg-white">
          <th class="p-2 ps-12 text-start">Product Ordered</th>
          <th class="p-2 text-start">SKU Number</th>
          <th class="p-2">Quantity</th>
          <th class="p-2">Unit Price</th>
          <th class="p-2 pe-12 text-center">Subtotal</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-[#B0B0B0]/50">
        <% @order.order_items.each do %>
          <tr class="bg-white text-[#4A4A4A] ">
            <td class="p-12">
              <span class="font-bold">Seraphique </span>
              <%= it.product.name %>
              <span class="font-bold ms-8">Variation:</span>
              <span class="text-[#B0B0B0]"><%= it.variant.name %></span>
            </td>
            <td class="p-2 py-12 text-start">SPBW123456789</td>
            <td class="p-2 py-12 text-center"><%= it.quantity %></td>
            <td class="p-2 py-12">
              <div class="flex flex-row flex-nowrap gap-x-2
                          items-center justify-center">
                <%= heroicon "currency-dollar",
                             size: 20,
                             class: "text-seraphique" %>
                <%= it.product.price %>
              </div>
            </td>
            <td class="p-2 py-12 pe-12">
              <div class="flex flex-row flex-nowrap gap-x-2
                          items-center justify-center">
                <%= heroicon "currency-dollar",
                             size: 20,
                             class: "text-seraphique" %>
                <%= it.product.price * it.quantity %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <section class="mt-8">
      <div class="flex flex-row justify-between w-1/3">
        <h2 class="text-seraphique font-bold text-xl">Delivery Status</h2>
        <button type="button"
                class="py-1 px-2 border border-seraphique text-[#BOBOBO]
                      rounded-full flex flex-row items-center
                      gap-x-2 hover:bg-seraphique hover:text-white"
                data-action="click->administrator--order#showUpdateStatusDialog">
          <%= heroicon "plus", size: 20, class: "mx-auto" %>
          Update Status
        </button>
      </div>
      <ul class="relative flex flex-col gap-y-4 before:absolute before:z-0
				 before:content-[''] before:w-px before:bg-[#00000066] w-1/3
				 before:left-3 before:top-3 before:h-[calc(100%-26px)] my-4">
        <%= turbo_frame_tag "delivery_logs", class: "contents" do %>
          <% @order.delivery_logs.order(created_at: :desc).each do %>
            <li class="relative group">
              <div class="flex flex-row nowrap items-center gap-x-4">
                <div class="size-7 rounded-full bg-seraphique text-white
                            group-first:size-fit p-1">
                  <%= heroicon "check", size: 18, class: "mx-auto" %>
                </div>
                <div class="text-[#4A4A4A]">
                  <%= it.description %>
                  <div class="text-[#B0B0B0] ms-auto">
                    <%= it.created_at.strftime("%d %b %Y %H:%M") %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
          <% if @order.delivery_logs.size == 0 %>
            <li class="text-#[4A4A4A] italic">
              No progress on package yet
            </li>
          <% end %>
        <% end %>
      </ul>

      <div class="ms-4 bg-green w-full h-full">

      </div>
    </section>
  </div>
</main>
