<main class="bg-[#F5F5F5] pb-36">
  <% if notice.present? %>
	<p class="py-x px-3 bg-green mb-5 text-green-500
			  font-medium rounded-lg inline-block">
	  <%= notice %>
	</p>
  <% end %>

  <% content_for :title, "Shopping Cart" %>
  
  <div class="container mx-auto pt-24">
	<%= render partial: "shared/banner" %>

	<div class="bg-white shadow">
	  <div class="flex flex-row">
		<div class="w-2/3 px-12 py-8 border-r border-r-[#B0B0B0]">
		  <div class="flex flex-row justify-between
					  items-baseline text-[#4A4A4A]">
			<h2 class="text-xl font-semibold">Shopping Cart</h2>

			<div class="font-bold">
			  <%= current_user.shopping_cart_items.count %>
			  <% if current_user.shopping_cart_items.count > 1 %>
				items
			  <% else %>
				item
			  <% end %>
			</div>
		  </div>
		  <div class="h-0.5 bg-[#DDD9D9] my-7"></div>
		  <table class="w-full">
			<thead>
			  <tr class="text-[#93949F]">
				<th></th>
				<th class="text-center">Quantity</th>
				<th class="text-center">Price</th>
				<th class="text-center">Total</th>
			  </tr>
			</thead>
			<tbody>
			  <% current_user.shopping_cart_items.each do |row| %>
				<tr>
				  <td>
					<div class="flex flex-row gap-x-2 items-center">
					  <%= image_tag row.product.image.variant(:small) %>
					  <div class="text-[#00000066] text-xs mb-4">
						<span class="font-bold">Seraphique</span>
						<%= row.product.name %>
					  </div>
					</div>
				  </td>
				  <td class="text-center">
					<%= row.product.quantity %>
				  </td>
				  <td class="text-seraphique text-center">
					<%= heroicon "currency-dollar",
								 size: 24,
								 class: "inline-block" %>
					<span class="font-light">
					  <%= number_with_precision(
						  row.product.price,
						  precision: 2
					  ) %>
					</span>
				  </td>
				  <td class="text-seraphique text-center">
					<%= heroicon "currency-dollar",
								 size: 24,
								 class: "inline-block" %>
					<span class="font-light">
					  <%= number_with_precision(
						  row.product.price * row.product.quantity,
						  precision: 2
					  ) %>
					</span>
				  </td>
				</tr>
			  <% end %>
			</tbody>
		  </table>
		</div>
		<div class="w-1/3 px-9 py-8">
		  <h2 class="text-[#4A4A4A] font-bold">Order Summary</h2>
		  <div class="h-0.5 bg-[#DDD9D9] my-7"></div>
		  <div class="flex flex-row justify-between">
			<h3 class="text-[#000000CC]">Items</h3>
			<div><%= current_user.shopping_cart_items.count %></div>
			<div>
			  <%= heroicon "currency-dollar",
						   size: 24,
						   class: "inline-block text-seraphique" %>
			  <%= current_user
			        .shopping_cart_items
					.sum { |item| item.product.quantity * item.product.price } %>
			</div>
		  </div>
		  <div class="mt-9 mb-12">
			<label for="shopping-cart-summary-shipping">Shipping</label>
			<select id="shopping-cart-summary-shipping" class="w-full mt-4">
			  <option>Standard Free Shipping</option>
			  <option>Priority Shipping</option>
			</select>
		  </div>
		  <div>
			<label for="shopping-cart-summary-code">Promo Code</label>
			<input type="text" class="w-full my-4">
			<button class="bg-seraphique py-2 px-4 text-white">Apply</button>
		  </div>
		  <div class="h-0.5 bg-[#DDD9D9] my-8"></div>
		  <div class="flex flex-row justify-between">
			<div class="text-[#000000CC]">Total Cost</div>
			<div>
			  <%= heroicon "currency-dollar",
						   size: 24,
						   class: "text-seraphique inline-block" %>
			  <%= current_user
			        .shopping_cart_items
					.sum { |item| item.product.quantity * item.product.price } %>
			</div>
		  </div>
		  <button class="bg-seraphique py-2 px-4 w-full text-white mt-8">
			Check Out
		  </button>
		</div>
	  </div>
	</div>
  </div>
</main>
