<div class="flex flex-col mt-0.5 gap-y-0.5">
  <% reviews.each do |review| %>
	<div class="bg-white px-8 py-5 flex flex-col">
	  <div class="flex flex-row justify-between">
		<div class="flex flex-row gap-x-1">
		  <% 5.times do %>
			<%= heroicon "star", size: 18 %>
		  <% end %>
		</div>
		<p class="text-xs text-[#4A4A4A]">
		  <%= review.created_at.strftime("%B %d, %Y") %>
		</p>
	  </div>
	  <p class="text-[#00000066] py-3"><%= review.user.email %></p>
	  <p class="text-xs text-[#4A4A4A]"><%= review.comment %>
	</div>
  <% end %>
</div>
<div class="bg-white mt-0.5 px-8 py-5 flex
			flex-row justify-between items-center">
  <div class="text-[#4A4A4A]">
	Showing
	<% if total == 0 %>
	  0
	<% elsif offset > 1 %>
	  <%= offset + 1 %>
	<% else %>
	  1
	<% end %>
	-
	<% if total == 0 %>
	  0
	<% else %>
	  <%= current_page * 5 %>
	<% end %>
	of
	<%= total %>
  </div>
  <div class="text-[#0000004D] flex flex-row
			  flex-nowrap gap-x-3 items-center">
	<% if current_page > 1 %>
	  <%= link_to product_reviews_path(
		  product_id: product_id,
		  page: current_page - 1
	  ), data: { turbo_frame: :product_reviews } do %>
		<%= heroicon "chevron-left", size: 20, class: "text-seraphique" %>
	  <% end %>
	<% else %>
	  <%= heroicon "chevron-left", size: 16 %>
	<% end %>
	
	<% if current_page > 3 %>
	  <%= link_to product_reviews_path(
		  product_id: product_id,
		  page: 1
	  ), data: { turbo_frame: :product_reviews } do %>
		1
	  <% end %>
	<% end %>
	<% if current_page > 4 %>
	  <div>...</div>
	<% end %>

	<% pages.each do |page| %>
	  <div class="hover:text-seraphique
				  <%= class_names(
					  "text-seraphique" => page == current_page,
					  "font-bold" => page == current_page
				  ) %>">
		<%= link_to product_reviews_path(
			product_id: product_id,
			page: page
		), data: { turbo_frame: :product_reviews } do %>
		  <%= page %>
		<% end %>
	  </div>
	<% end %>
	<% if current_page < page_count - 3 %>
	  <div>...</div>
	<% end %>
	<% if current_page < page_count - 2 %>
	  <%= link_to product_reviews_path(
		  product_id: product_id,
		  page: page_count,
	  ), data: { turbo_frame: :product_reviews } do %>
		<%= page_count %>
	  <% end %>
	<% end %>
	<% if current_page < page_count %>
	  <%= link_to product_reviews_path(
		  product_id: product_id,
		  page: current_page + 1
	  ) do %>
		<%= heroicon "chevron-right",
					 size: 20,
					 class: "text-seraphique font-bold" %>
	  <% end %>
	<% else %>
	  <%= heroicon "chevron-right", size: 16 %>
	<% end %>
  </div>
</div>
