<div id="<%= dom_id product %>"
	 class="w-[300px] rounded-lg shadow overflow-hidden">
  <div <% if user_signed_in? %>class="relative group/image"<% end %>>
	<% if user_signed_in? %>
	  <%= link_to new_shopping_cart_item_for_user_path(
		  user_id: current_user.id,
		  product_id: product.id
	  ), data: {
		  turbo_method: :post,
		  turbo_frame: dom_id(current_user, :shopping_cart_count)
	  }, class: "w-full h-full absolute hidden top-0 left-0 bg-[#00000099]
                   flex flex-col items-center justify-center w-full
                   h-full group-hover/image:flex" do %>
		<%= heroicon "shopping-cart", size: 48, class: "text-gray-100" %>
		<span class="text-gray-100 font-semibold text-xl">
		  Add to Cart
		</span>
	  <% end %>
	<% end %>
	<%= image_tag product.image.variant(:thumb), class: "peer" %>
  </div>
  <div class="w-full bg-white p-4">
	<%= link_to product_path(product), class: "group/link" do %>
	  <div class="flex flex-row gap-x-2 mb-2">
		<% 5.times do %>
		  <%= heroicon "star", size: 18 %>
		<% end %>
	  </div>
	  <div class="text-xs flex flex-row">
		<p class="group-hover/link:underline">
		  <span class="font-semibold">
			Seraphique
		  </span>
		  <%= product.name %>
		</p>
	  </div>
	  <div class="text-xs group-hover/link:underline">
		<%= product.description %>
	  </div>
	  <div class="text-lg font-light flex flex-row
				  flex-nowrap justify-between mt-2">
		<div class="flex flex-row items-center gap-1">
		  <%= heroicon "currency-dollar",
					   size: 18,
					   class: "text-[#4A4A4A]" %>
		  <span class="font-light">
			<%= number_with_precision(product.price, precision: 2) %>
		  </span>
		</div>
	  </div>
	<% end %>
	<button class="bg-seraphique w-full text-gray-100 py-2 mt-2 hover:font-semibold">
	  Buy Now
	</button>
  </div>
</div>
