<div id="<%= dom_id product %>"
	 class="w-64 rounded-lg shadow overflow-hidden flex flex-col bg-white">
  <div class="flex flex-row gap-x-2 mb-2 pt-6 px-6">
	<% 5.times do %>
	  <%= heroicon "star", size: 18 %>
	<% end %>
  </div>
  <div class="h-full relative group/image">
	<%= link_to shopping_cart_items_path(
		product_id: product.id
	), data: {
		turbo_method: user_signed_in? ? :post : nil,
		turbo_frame: user_signed_in? ? :shopping_cart_item_count : nil
	}, class: "w-full h-full absolute hidden top-0 left-0 bg-[#00000099]
                   flex flex-col items-center justify-center w-full
                   h-full group-hover/image:flex" do %>
	  <%= heroicon "shopping-cart", size: 48, class: "text-gray-100" %>
	  <span class="text-gray-100 font-semibold text-xl">
		Add to Cart
	  </span>
	<% end %>
	<% if product.image.attached? %>
	  <%= image_tag product.image, class: "mx-auto pt-8 pb-4 h-60" %>
	<% else %>
	  <div class="w-full h-60 bg-gray-200 pt-8 pb-4
				  flex justify-center items-center">
		<%= heroicon "photo", size: 96, class: "text-gray-400" %>
	  </div>
	<% end %>
  </div>
  <div class="w-full pt-4 pb-8 px-6">
	<%= link_to product_path(product), class: "group/link" do %>
	  <div class="text-xs flex flex-row">
		<p class="group-hover/link:underline truncate">
		  <span class="font-semibold">
			Seraphique
		  </span>
		  <%= product.name %>
		</p>
	  </div>
	<% end %>
	<div class="flex flex-row flex-nowrap text-seraphique
				justify-between items-center mt-4">
	  <div class="flex flex-row items-center gap-x-1">
		<%= heroicon "currency-dollar",
					 size: 20 %>
		<span class="font-bold text-[#4A4A4A]">
		  <%= number_with_precision(product.price, precision: 2) %>
		</span>
	  </div>
	  <button class="bg-seraphique font-bold text-white
					 py-1 px-4 text-xs rounded-full
					 hover:font-semibold hover:bg-[#4A4A4A]">
		Buy Now
	  </button>
	</div>
  </div>
</div>
