<div id="<%= dom_id product %>">
  <div class="grid grid-cols-2 gap-x-24">
	<div>
	  <div class="bg-white pt-16 pb-12 border border-[#D9D9D9]">
		<%= image_tag (product.image if product.image.attached?),
					  class: "w-full max-h-[500px] object-contain" %>
	  </div>
	  <div class="flex flex-row gap-x-8">
		<% 4.times do %>
		  <div class="bg-white h-32 w-full mt-4 border border-[#D9D9D9]"></div>
		<% end %>
	  </div>
	</div>
	<div>
	  <h2 class="font-light text-2xl text-[#4A4A4A]">
		<span class="font-bold">Seraphique</span>
		<%= product.name %>
	  </h2>

	  <div class="flex flex-row gap-x-2 my-5">
		<% 5.times do %>
		  <%= heroicon "star", size: 24 %>
		<% end %>
		<a class="underline text-[#3A5033] text-base ms-7 font-light" href="#">
		  Write a Review
		</a>
	  </div>
	  <div class="text-[#4A4A4A]"><%= product.description %></div>
	  <div class="mt-4 flex flex-row gap-x-5">
		<% product.variants.each do |variant| %>
		  <div class="bg-white border border-[#B0B0B0] text-[#4A4A4A]
					  rounded-lg py-2 px-3 hover:bg-[#4A4A4A] font-light
					  hover:text-[#F5F5F5] hover:cursor-pointer">
			<%= variant.name %>
		  </div>
		<% end %>
	  </div>
	  <div class="my-4">
		<div class="font-light text-4xl text-[#3A5033]">
		  $<%= number_with_precision(product.price, precision: 2) %>
		</div>
	  </div>
	  <div>
		<div class="flex flex-row gap-x-5">
		  <input class="w-16" type="number" aria-label="quantity" value="1">
		  <button class="bg-seraphique text-white grow">Buy Now</button>
		  <button class="bg-white border border-[#B0B0B0] grow">
			Add to Cart
		  </button>
		</div>
	  </div>
	</div>
  </div>
</div>
