<div>
  <h3 class="font-bold mb-8">Ratings and Reviews</h3>

  <div class="bg-white py-9 flex flex-row flex-nowrap
			  justify-between px-8 gap-x-16 items-center">
	<div>
	  <div class="font-bold">
		<span class="text-[#4A4A4A] text-3xl">
		  <%= number_with_precision(average, precision: 2) %>
		</span>
		<span class="text-[#00000066] text-xl">
		  / 5
		</span>
	  </div>
	  <div class="text-xs text-[#1E1E1E66] text-center">
		<%= total %> Ratings
	  </div>
	</div>
	<div class="flex flex-row gap-x-4">
	  <% 5.times do %>
		<%= heroicon "star", size: 24, class: "text-#DAD063" %>
	  <% end %>
	</div>

	<% review_scores.in_groups_of(2).each do |group| %>
	  <div class="flex flex-col justify-center gap-y-5 grow">
		<% group.each do |review_score| %>
		  <% if review_score %>
			<div class="h-3 flex flex-row gap-x-2
						flex-nowrap items-center">
			  <div class="h-full w-full bg-[#D9D9D9]">
				<div class="w-[<%= review_score[:fragment].round %>%]
							h-full bg-[#DAD063]"></div>
			  </div>
			  <div class="text-[#1E1E1E66] text-nowrap">
				<span>
				  <%= review_score[:score] %> stars
				  (<%= number_with_precision(
					  review_score[:fragment],
					  precision: 2) %>%)
				</span>
			  </div>
			</div>
		  <% end %>
		<% end %>
	  </div>
	<% end %>
  </div>
  <div class="flex flex-row justify-between mt-2 px-8 bg-white">
	<h4 class="font-bold text-[#4A4A4A] my-3">Product Reviews</h4>

	<form>
	  <div class="flex flex-row h-full">
		<div class="border-x border-y-0 border-x-[#6B686659]
					px-12 has-[:focus]:border-x-[#6B6866CC]">
		  <label for="reviews-order" class="hidden">Order</label>
		  <select id="reviews-order"
				  class="h-full border-0 font-bold
					  text-[#4A4A4A] focus:ring-0">
			<option>Recent</option>
			<option>Oldest</option>
		  </select>
		</div>
		<div class="px-12 has-[:focus]:border-l
					has-[:focus]:border-l-[#6B6866CC]">
		  <label for="reviews-score" class="hidden">Score</label>
		  <select id="reviews-score"
				  class="h-full border-0 font-bold
					  text-[#4A4A4A] focus:ring-0">
			<option>All Stars</option>
			<% 5.downto(1).each do |number| %>
			  <option><%= number %> Star<% if number > 1 %>s<% end %></option>
			<% end %>
		  </select>
		</div>
	  </div>
	</form>
  </div>

  <%= turbo_frame_tag :product_reviews do %>
	<%= render partial: "product_reviews/reviews",
			   locals: {
				   reviews: reviews,
				   product_id: product_id,
				   current_page: 1,
				   pages: pages,
				   offset: offset,
				   total: total
			   } %>
  <% end %>
</div>
