<main class="w-full bg-[#F5F5F5]">
	<% if notice.present? %>
		<p class="py-2 px-3 bg-green-50 mb-5 text-green-500
				  font-medium rounded-lg inline-block"
		   id="notice">
			<%= notice %>
		</p>
	<% end %>

	<% content_for :title, "Products" %>

	<div class="container mx-auto pt-16">
		<%= render "shared/banner" %>

		<h2 class="text-3xl font-light text-[#4A4A4A] mb-12">
			Our Products
		</h2>

		<div class="flex flex-row flex-nowrap gap-x-36">
			<aside>
				<ul class="text-[#4A4A4A]">
					<% @categories.each do |category| %>
						<li class="text-2xl py-4 border-[#4A4A4A59]
								   [&:not(:last-child)]:border-b">
							<%= category.name %>
						</li>
					<% end %>
				</ul>
			</aside>
			<section>
				<ul class="grid grid-cols-4 gap-x-8 gap-y-8 auto-rows-fr">
					<% @products.each do |product| %>
						<li class="w-[260px]">
							<div class="w-full">
								<%= image_tag product.image.variant(:thumb),
											  class: "border-t border-x
                                                      border-[#B0B0B0]" %>
								<div class="w-full bg-white border
											border-[#B0B0B0] p-4">
									<div class="text-xs flex flex-row">
										<p>
											<span class="font-bold">
												Seraphique
											</span>
											<%= product.name %>
										</p>
									</div>
									<div class="text-xs">
										<%= product.description %>
									</div>
									<div class="text-lg font-light flex
												flex-row flex-nowrap
												justify-between mt-2">
										<div class="flex flex-row
													items-center gap-1">
											<%= heroicon "currency-dollar",
														 size: 18,
														 class: "text-[#4A4A4A]" %>
											<%= number_with_precision(
												product.price,
												precision: 2
											) %>
										</div>
										<div class="flex flex-row
													items-center gap-1">
											<%= heroicon "check",
														 size: 18,
														 class: "text-[#4A4A4A]" %>
											1.5k Sold
										</div>
									</div>
									<div class="flex flex-row justify-center
												items-center gap-2 mt-4">
										<%= heroicon "truck",
													 size: 18,
										class: "text-[#4A4A4A]"%>
										<div class="border border-[#B0B0B0]
													text-[10px] p-1">
											3 - 5 days guaranteed delivery
										</div>
									</div>
								</div>
							</div>
						</li>
					<% end %>
				</ul>
			</section>
		</div>
	</div>
</main>
