<main class="w-full bg-[#F5F5F5] pb-8">
	<% if notice.present? %>
		<p class="py-2 px-3 bg-green-50 mb-5 text-green-500
				  font-medium rounded-lg inline-block"
		   id="notice">
			<%= notice %>
		</p>
	<% end %>

	<% content_for :title, "Products" %>

	<div class="container mx-auto pt-16">
		<%= render "shared/banner" %>
		<%= image_tag "products_banner_image.png", class: "w-full mb-8" %>

		<h2 class="text-3xl font-light text-[#4A4A4A] mb-12">
			Our Products
		</h2>

		<div class="flex flex-row flex-nowrap gap-x-12">
			<aside>
				<ul class="text-[#4A4A4A]">
					<% @categories.each do |category| %>
						<li class="text-2xl py-4 border-[#4A4A4A59]
								   [&:not(:last-child)]:border-b">
							<%= link_to products_path(category: category.id) do %>
								<%= category.name %>
							<% end %>
						</li>
					<% end %>
				</ul>
			</aside>
			<section class="grid grid-cols-2 gap-8 auto-rows-fr lg:grid-cols-4">
				<%= render partial: "product_card",
						   collection: @products,
						   as: :product %>
			</section>
		</div>
	</div>
</main>
