<main class="w-full bg-[#F5F5F5] pb-32">
  <% if notice.present? %>
	<p class="py-2 px-3 bg-green-50 mb-5 text-green-500
			  font-medium rounded-lg inline-block"
	   id="notice">
	  <%= notice %>
	</p>
  <% end %>

  <% content_for :title, "Products" %>

  <div class="container mx-auto pt-48">
	<%= render "shared/banner" %>
	<%= image_tag "products_banner_image.png", class: "w-full mb-24" %>

	<div class="-mb-6 text-center z-10 relative">
	  <h2 class="text-2xl font-bold text-[#3A5033]
				 mx-auto bg-[#F5F5F5] py-2 px-4 w-fit">
		<% if @selected_category %>
		  <%= @selected_category.name %>
		<% else %>
		  All Products
		<% end %>
	  </h2>
	</div>
	<div class="flex flex-row flex-nowrap gap-x-12
				border border-[#3A5033B2] py-24">
	  <section class="mx-auto grid grid-cols-2 gap-8
					  auto-rows-fr lg:grid-cols-4">
		<%= render partial: "card",
				   collection: @products,
				   as: :product %>
	  </section>
	</div>
</main>
