<main class="bg-[#F5F5F5] pt-24 pb-36" data-controller="shopping-cart">
  <% if notice.present? %>
	<p class="py-x px-3 bg-green mb-5 text-green-500
			  font-medium rounded-lg inline-block">
	  <%= notice %>
	</p>
  <% end %>

  <% content_for :title, "Shopping Cart" %>

  <div class="container mx-auto pt-24">
	<%= render partial: "shared/banner" %>

	<div class="fixed w-full inset-0 h-screen bg-black/60
				z-50 flex flex-col justify-center hidden
				transition-opacity opacity-0"
		 data-shopping-cart-target="addressSelector">
	  <div class="bg-gray-100 shadow rounded-lg max-w-4/5 m-auto py-4 px-8">
		<fieldset>
		  <legend class="font-semibold text-lg">Addresses</legend>
		  <div class="mt-4 flex flex-col divide-[#B0B0B0] divide-y">
			<% current_user.addresses.each do |address| %>
			  <div class="py-4 flex flex-row items-center gap-x-2">
				<input type="radio"
					   name="payments[address]"
					   id="address-<%= address.id %>"
					   value="<%= address.id %>"
					   data-action="input->shopping-cart#changeAddress"
				       <%= "checked" if address.id == @address.id %>>
				<label for="address-<%= address.id %>">
				  <input type="hidden"
						 name="address"
						 value="<%= address.id %>">
				  <%= address.first_name %>
				  <%= address.last_name %>
				  <span class="mx-4">
					<%= address.phone_number %>
				  </span>
				  <%= address.line_1 %>,
				  <% if address.line_2 %>
					<%= address.line_2 %>,
				  <% end %>
				  <%= address.city %>,
				  <%= address.state %>,
				  <%= address.country %> <%= address.postal_code %>
				</label>
			  </div>
			<% end if current_user.addresses %>
		  </div>
		  <div class="flex flex-row justify-end mt-4">
			<button type="button"
						  class="bg-seraphique px-2 py-1 text-gray-100
						  hover:bg-seraphique/90"
						  data-action="click->shopping-cart#toggleAddressSelector"
						  data-turbo="false">
			  Done
			</button>
		  </div>
		</fieldset>
	  </div>
	</div>

	<%= form_with url: payments_path,
				  method: :post,
				  id: :payments_form do |f| %>
	  <div class="flex flex-row flex-nowrap justify-between
				  text-[#4A4A4A] items-center py-4 px-12
				  bg-gradient-to-r from-[#3A503333] to-[#84B674]">
		<span class="flex flex-row gap-x-2 items-center
					 font-semibold text-[#4A4A4A]">
		  Delivery Address
		</span>
		<span class="<%= class_names('cursor-pointer' => @address) %>
			         flex flex-row items-center"
		      <% if @address %>
				data-action="click->shopping-cart#toggleAddressSelector"
			  <% end %>>
		  <span>
			<%= heroicon "map-pin", size: 18, class: "me-2", variant: :solid %>
		  </span>
		  <span data-shopping-cart-target="address">
			<% if @address %>
			  <input type="hidden"
					 name="payments[address]"
					 value="<%= @address.id %>">

			  <%= @address.first_name %>
			  <%= @address.last_name %>
			  
			  <span class="mx-4">
				<%= @address.phone_number %>
			  </span>
			  <%= @address.line_1 %>,
			  <% if @address.line_2 %>
				<%= @address.line_2 %>,
			  <% end %>
			  <%= @address.city %>,
			  <%= @address.country %>
			  <%= @address.postal_code %>
			<% else %>
			  <span>
				You have not yet set an address.
				Set one
				<%= link_to "here",
							new_address_path,
							class: "text-seraphique font-semibold underline" %>
			  </span>
			<% end %>
		  </span>
		</span>
		<button type="button"
				class="text-[#4A4A4A] border border-[#4A4A4A] px-8 py-1
					   rounded-lg hover:border-white hover:text-white"
				data-action="click->shopping-cart#toggleAddressSelector">
		  Change
		</button>
	  </div>
	  <div class="bg-white mt-4">
		<div class="grid grid-cols-12 border-b border-[#B0B0B0] py-6">
		  <div class="col-span-1"></div>
		  <div class="col-span-5">Products</div>
		  <div class="col-span-1 text-center">Quantity</div>
		  <div class="col-span-2 text-center">Price</div>
		  <div class="col-span-2 text-center">Subtotal</div>
		  <div class="col-span-1 text-center">Action</div>
		</div>

		<div class="flex flex-col divide-y divide-[#B0B0B0]">
		  <% current_user.shopping_cart_items.each do |item| %>
			<%= render "shopping_cart_items/row", item: item %>
		  <% end %>
		</div>
		<input type="hidden" name="_method" value="post" autocomplete="off">
	  </div>
	<% end %>
	<div class="mt-4 bg-white py-8 flex flex-row ps-14 pe-12 justify-between items-start">
	  <div class="flex flex-row justify-center">
		<input type="checkbox"
			   id="toggle-all-cart-items"
			   class="size-5 checked:bg-seraphique focus:outline-0
					 focus:ring-seraphique hover:checked:bg-seraphique
					 checked:focus:bg-seraphique indeterminate:bg-seraphique
					 indeterminate:outline-0 hover:indeterminate:bg-seraphique
					 indeterminate:focus:bg-seraphique"
			   data-action="input->shopping-cart#toggleAll"
			   data-shopping-cart-target="toggleAll">
		<label for="toggle-all-cart-items"
			   class="font-bold text-[#4A4A4A] ms-4">
		  Select All
		</label>
	  </div>
	  <div class="flex flex-col gap-y-4">
		<label class="flex flex-row gap-x-4 items-center
					  text-[#4A4A4A] font-semibold"
			   for="promotion">
		  <%= heroicon "tag", size: 18 %>
		  Promo Code:
		</label>
		<input class="border-[#D9D9D9]" id="promotion" name="promotion">
	  </div>
	  <div class="flex flex-col divide-[#D9D9D9] divide-y w-2/5">
		<div class="text-[#4A4A4A] flex flex-row
					justify-between items-start pb-8">
		  <div class="flex flex-col gap-y-1">
			<div class="font-semibold">Delivery:</div>
			<div>
			  Guaranteed to get by <%= @shipping_range %>
			</div>
		  </div>
		  <div class="font-semibold">$ 10.00</div>
		</div>
		<div class="flex flex-row gap-x-4 pt-8
					justify-between items-center">
		  <div class="text-[#4A4A4A] font-bold"
			   data-shopping-cart-target="count">
			Order Total ( 0 items ) :
		  </div>
		  <div class="text-[#A0C296] font-bold text-2xl"
			   data-shopping-cart-target="value">
			$0.00
		  </div>
		</div>
	  </div>
	</div>
	<div class="mt-4 bg-white py-8 px-12 flex
				flex-col font-semibold text-[#4A4A4A]">
	  <div class="ms-auto flex flex-row justify-between w-2/5">
		<div>Merchandise Subtotal:</div>
		<div data-shopping-cart-target="merchandiseTotal">$ 0.00</div>
	  </div>
	  <div class="ms-auto flex flex-row justify-between w-2/5">
		<div>Shipping Subtotal:</div>
		<div>$ 10.00</div>
	  </div>
	  <div class="ms-auto flex flex-row justify-between w-2/5">
		<div>Voucher Discount:</div>
		<div>$ 0.00</div>
	  </div>
	  <div class="ms-auto flex flex-row justify-between items-center w-2/5">
		<div>Total Payment:</div>
		<div class="text-2xl text-[#A0C296]"
			 data-shopping-cart-target="totalPayment">
		  $ 0.00
		</div>
	  </div>
	  <div class="flex flex-row justify-end mt-4">
		<%= button_tag "Place Order",
					   type: :submit,
					   class: "bg-seraphique text-xl ms-8
                               py-3 px-16 text-white",
					   form: :payments_form,
					   formmethod: :post,
					   data: { turbo: false } %>
	  </div>
	</div>
  </div>
</main>
