<main class="bg-[#F5F5F5] pt-24 pb-36" data-controller="shopping-cart">
  <% if notice.present? %>
	<p class="py-x px-3 bg-green mb-5 text-green-500
			  font-medium rounded-lg inline-block">
	  <%= notice %>
	</p>
  <% end %>

  <% content_for :title, "Shopping Cart" %>

  <div class="container mx-auto pt-24">
	<%= render partial: "shared/banner" %>

	<div class="flex flex-row flex-nowrap text-[#4A4A4A] py-4
				bg-gradient-to-r from-[#3A503333] to-[#84B674]">
	  <div class="w-1/12"></div>
	  <div class="w-5/12">Shopping Cart</div>
	  <div class="w-1/12 text-center">Quantity</div>
	  <div class="w-2/12 text-center">Price</div>
	  <div class="w-2/12 text-center">Total</div>
	  <div class="w-1/12 text-center">Action</div>
	</div>
	<div class="bg-white mt-4">
	  <%= form_with url: payments_path,
					method: :post,
					data: { turbo: false },
					id: :payments_form do |f| %>
		<% current_user.shopping_cart_items.each do |item| %>
		  <%= render partial: "row", locals: { item: item } %>
		<% end %>
		<input type="hidden" name="_method" value="post" autocomplete="off">
	  <% end %>
	</div>
	<div class="mt-4 bg-white flex flex-row flex-nowrap items-center py-8">
	  <div class="w-1/12 flex flex-row justify-center">
		<input type="checkbox"
			   id="toggle-all-cart-items"
			   class="size-5 checked:bg-seraphique focus:outline-0
					 focus:ring-seraphique hover:checked:bg-seraphique
					 checked:focus:bg-seraphique indeterminate:bg-seraphique
					 indeterminate:outline-0 hover:indeterminate:bg-seraphique
					 indeterminate:focus:bg-seraphique"
			   data-action="input->shopping-cart#toggleAll"
			   data-shopping-cart-target="toggleAll">
	  </div>
	  <div class="w-7/12">
		<label for="toggle-all-cart-items" class="font-bold text-[#4A4A4A]">
		  Select All
		</label>
	  </div>
	  <div class="w-2/12 flex flex-row gap-x-4 justify-end items-center">
		<div class="text-[#4A4A4A] font-bold"
			 data-shopping-cart-target="count">
		  Total (0 items)
		</div>
		<div class="text-[#A0C296] text-xl font-bold"
			 data-shopping-cart-target="value">
		  $0.00
		</div>
	  </div>
	  <div class="w-2/12 flex flex-row">
		<%= button_tag type: :submit,
					   class: "bg-seraphique ms-8 py-2 px-4 text-white",
					   form: :payments_form,
					   formmethod: :post do %>
		  Check Out
		<% end %>
	  </div>
	</div>
  </div>
</main>
