<main class="pt-36 pb-12">
  <div class="container mx-auto flex flex-row gap-x-8 justify-center">
	<aside class="bg-seraphique/20 p-8 rounded-xl text-[#4A4A4A]">
	  <ul class="space-y-4 text-lg mt-8">
		<li class="hover:underline">
		  <%= link_to edit_user_registration_path(current_user),
					  class: "flex flex-row items-center gap-x-2" do %>
			<%= heroicon "user", size: 24 %>
			Profile
		  <% end %>
		</li>
		<li class="hover:underline">
		  <%= link_to orders_path,
					  class: "flex flex-row items-center gap-x-2" do %>
			<%= heroicon "shopping-bag", size: 24 %>
			Orders
		  <% end %>
		</li>
		<li class="hover:underline">
		  <a href="#" class="flex flex-row items-center gap-x-2">
			<%= heroicon "credit-card", size: 24 %>
			Payment Methods
		  </a>
		</li>
		<li class="hover:underline">
		  <a href="#" class="flex flex-row items-center gap-x-2">
			<%= heroicon "map-pin", size: 24 %>
			Addresses
		  </a>
		</li>
	  </ul>
	</aside>
	<section class="bg-white rounded-lg p-8 grow max-w-[800px]">
	  <%= form_with model: current_user,
					url: registration_path(current_user),
					method: :put do |f| %>
		<%= render "devise/shared/error_messages", resource: resource %>

		<div class="flex flex-col gap-y-8 grow">
		  <div class="flex flex-row gap-x-4">
			<div class="flex flex-col gap-y-2 grow">
			  <%= f.label :first_name %>
			  <%= f.text_field :first_name,
				   autofocus: true,
				   autocomplete: "name",
				   class: "border-[#B0B0B0] rounded-md
                          focus:ring-seraphique focus:border-seraphique",
			   value: current_user.first_name %>
			</div>
			<div class="flex flex-col gap-y-2 grow">
			  <%= f.label :last_name %>
			  <%= f.text_field :last_name,
				   autocomplete: "name",
				   class: "border-[#B0B0B0] rounded-md
                           focus:ring-seraphique focus:border-seraphique",
			   value: current_user.last_name %>
			</div>
		  </div>

		  <div class="flex flex-col gap-y-2">
			<%= f.label :email %>
			<%= f.email_field :email,
			 autocomplete: "email",
			 class: "border-[#B0B0B0] rounded-md focus:ring-seraphique
                        focus:border-seraphique" %>
		  </div>

		  <div class="flex flex-col gap-y-2">
			<%= f.label :phone_number %>
			<%= f.text_field :phone_number,
             value: current_user.phone_number,
			 autocomplete: "phone-number",
			 class: "border-[#B0B0B0] rounded-md focus:ring-seraphique
                     focus:border-seraphique"%>
		  </div>

		  <div class="flex flex-col">
			<div>
			  <%= f.label :password %>
			  <small class="italic">(leave blank if you don't want to change it)</small>
			</div>
			<%= f.password_field :password,
			autocomplete: "new-password",
			class: "border-[#B0B0B0] rounded-md mt-2
                    focus:ring-seraphique focus:border-seraphique" %>
			<% if @minimum_password_length %>
			  <small class="italic"><%= @minimum_password_length %> characters minimum</small>
			<% end %>
		  </div>

		  <div class="flex flex-col gap-y-2">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation,
				autocomplete: "new-password",
				class: "border-[#B0B0B0] rounded-md focus:ring-seraphique
                     focus:border-seraphique" %>
		  </div>

		  <div class="flex flex-col gap-y-2">
			<%= f.label :current_password %>
			<%= f.password_field :current_password,
				autocomplete: "current-password",
				class: "border-[#B0B0B0] rounded-md focus:ring-seraphique
                     focus:border-seraphique" %>
		  </div>
		</div>

		<div class="flex flex-row justify-end items-center mt-4">
		  <%= f.submit "Update",
			 class: "bg-seraphique px-4 py-2 text-gray-100 rounded-md" %>
		</div>
	  <% end %>
  	</section>
</main>
