<main class="py-64 bg-[#F4F4F4] overflow-hidden">
  <div class="relative">
	<div class="absolute -bottom-96 left-0 -scale-x-100 w-[800px]">
	  <%= image_tag "foliage.png" %>
	</div>
	<div class="absolute -bottom-96 hidden md:left-[34rem] w-[900px] md:block">
	  <%= image_tag "foliage.png" %>
	</div>
	<div class="absolute -bottom-96 right-0 hidden w-[800px] md:block">
	  <%= image_tag "foliage.png" %>
	</div>
	<div class="container mx-auto relative z-10">
	  <div class="bg-[#3A503333] border border-white rounded-lg
				  backdrop-blur-lg w-4/5 mx-auto px-16 py-12
				  min-w-[300px] max-w-[700px]">
		<h2 class="text-seraphique font-bold text-2xl">Create an Account</h2>

		<%= form_with scope: :user,
					  method: :post,
					  url: registration_path(resource) do |f| %>
		  <%= render "users/shared/error_messages", resource: resource %>
		  <div class="flex flex-col mt-4">
			<div class="flex flex-row gap-x-2">
			  <div class="flex flex-col gap-y-3 grow">
				<%= f.label :first_name %>
				<%= f.text_field :first_name,
				 autofocus: true,
				 autocomplete: "name",
				 class: "rounded-lg",
				 required: true %>
			  </div>
			  <div class="flex flex-col gap-y-3 grow">
				<%= f.label :last_name %>
				<%= f.text_field :last_name,
				 autocomplete: "name",
				 class: "rounded-lg",
					required: true%>
			  </div>
			</div>
			<div class="flex flex-col gap-y-3 my-8">
			  <%= f.label :email %>
			  <%= f.email_field :email,
			  autocomplete: "email",
			  class: "rounded-lg" %>
			</div>

			<div class="flex flex-row gap-x-6">
			  <div class="flex flex-col gap-y-2 grow">
				<%= f.label :password %>
				<%= f.password_field :password,
				autocomplete: "new-password",
				class: "rounded-lg" %>
			  </div>

			  <div class="flex flex-col gap-y-2 grow">
				<%= f.label :password_confirmation, "Confirm Password" %>
				<%= f.password_field :password_confirmation,
				 autocomplete: "new-password",
				 class: "rounded-lg" %>
			  </div>
			</div>

			<div class="mt-8">
			  <input type="checkbox"
					 class="size-5 appearance-none peer-hover:bg-none
						   checked:text-seraphique focus:ring-0
						   checked:ring-0 checked:bg-seraphique"
					 name="remember_me"
					 id="remember_me">
			  <label for="remember_me"
					 class="ms-2 peer">
				Keep me signed in
			  </label>
			</div>
			<div>
			  <input type="checkbox"
					 class="size-5 appearance-none peer-hover:bg-none
						   checked:text-seraphique focus:ring-0
						   checked:ring-0 checked:bg-seraphique"
					 name="subscribe"
					 id="subscribe">
			  <label for="subscribe"
					 class="text-xs ms-2 peer text-[#000000B2]">
				Subscribe now to receive exclusive promotions via
				email, SMS, and messaging apps from Seraphique! By
				subscribing, you agree to our use of your
				information for marketing communications and
				analytics, in accordance with our privacy policies.
			  </label>
			</div>

			<div class="actions">
			  <%= f.submit "Confirm and Continue",
				  class: "bg-seraphique text-base text-white w-full text-center py-2 mt-10" %>
			</div>
			<p class="text-center text-xs text-[#000000B2] font-light mt-2">
			  By creating your account or signing in, you agree to
			  our terms and condition & privacy policy.
			</p>
		  </div>
		<% end %>
	  </div>
	</div>
  </div>
</main>
